<h3 align="center" class="login-title">Welcome to MessageMe - a complete Chat App
  <div class="login-icon"></div>
  <h4 align="center" class="login-subtitle">Log in to continue</h4>
</h3>

<div class="ui placeholder segment">
  <div class="ui stackable very relaxed two column grid">
    <div class="column">
      <form class="ui form">
        <div class="field">
          <label>Username</label>
          <div class="input-group mb-3">
            <div class="input-group-append">
              <div class="btn btn-outline-secondary user-icon"></div>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Recipient's username" aria-describedby="button-addon2">
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="input-group mb-3">
            <div class="input-group-append">
              <div class="btn btn-outline-secondary password-icon"></div>
            </div>
            <input type="text" class="form-control" placeholder="Password" aria-label="Recipient's username" aria-describedby="button-addon2">
          </div>
        </div>
        <button class="ui primary button">Login</button>
      </form>
    </div>
    <div class="middle aligned column">
      <button class="ui big button">
        <div class="signup icon"></div>
        Sign up
      </button>
    </div>
  </div>
  <div class="ui vertical vertical-divider"> <p>Or</p></div>
</div>